<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Lista de orientadores</title>
</head>

<body>

    <h2>HOUVE UM ERRO</h2>
    <p>{{error}}</p>
</body>

</html>