<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Lista de orientadores</title>
</head>

<body>

    <h2>ORIENTACOES</h2>
    <ul>
        {{#each orientacao}}
        <br />
        <li>Nome: {{nome}}<br />Professor: {{prof.nome}}<br />Aluno: {{alu.nome}}</li>
        {{/each}}
    </ul>

</body>

</html>